save=true
save-exact=true
save-prefix=''
@refactco:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
# //gitlab.markitasdone.com/api/v4/packages/npm/:_authToken=${GITLAB_ACCESS_TOKEN}